.character {
    width: 2ch;
    height: 2ch;
    text-align: center;
    font-size: 24pt;
    padding: 0px 0px 0px 0px;
    border: 1px solid #000;
    margin: 0px;
}
.input-container {
    position: relative;
}
.superscript-number {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 12pt;
    color: black;
}
.block {
    width: 2ch;
    height: 2ch;
    font-size: 24pt;
    padding: 0px 0px 0px 0px;
    background:black;
    border: 1px solid #000;
    margin:0px;
}
.crosswordTable, th, td {
    display: table;
    padding: 0px 0px 0px 0px;
    margin: 0px;
    border-collapse:collapse;
    border-spacing: 0px;   
}
.crosswordTable, tr {
    display: table-row;
}
.crosswordTable, td {
    display: table-cell;
}
.clueList {
    list-style-type: none;
}
.crosswordContainer {
    height: 100%;
    padding: 0;
    margin: auto;
    display: flex;
}
.rightDiv {
    padding-left:10px;
    width: 100%;
    height: 100%;
    min-width: 25%;
}
.clueDiv {
    overflow-y: auto;
    font-size:14pt;
}
.clueListHeading {
    padding: 0px;
    margin: 0px;
}
.title {
    text-align: center;
}
.hintHighlight {
    background-color: #ebb215
}
.overlay {
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 2;
}
.overlayTextWin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 1);
    border-style:double;
    border-color: black;
    padding: 1%;
    box-shadow: 0px 0px 50px #fff;
}
.overlayText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 1);
    border-style:double;
    border-color: black;
    padding: 1%;
}
.hintText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    -ms-transform: translate(-50%,-50%);
    background-color: rgba(255, 255, 255, 1);
    border-style:double;
    border-color: black;
    padding: 1%;
}
.hintStyle {
    color: rgb(6, 58, 156);
}

@media (max-width: 900px) {
    .crosswordContainer {
        flex-direction: column;
    }
}

@media (prefers-color-scheme: dark) {
    .character {
        background-color: #28272a;
        border-color: #687377;
        color: #f3f3f3;
    }
    .hintHighlight {
        background-color: #252d99;
    }
    .superscript-number {
        color: #f3f3f3;
    }
    .block {
        background-color: #687377;
        border-color: #687377;
    }
    body {
        background-color: #28272a;
        color: #f3f3f3;
    }
    body a {
        color: #809fff;
    }
    .overlayTextWin {
        background-color: rgba(0, 0, 0, 1);
        border-color: dimgray;
    }
    .overlayText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 1);
        border-style:double;
        border-color: dimgray;
        padding: 1%;
    }
    .hintText {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%,-50%);
        -ms-transform: translate(-50%,-50%);
        background-color: rgba(0, 0, 0, 1);
        border-style:double;
        border-color: dimgray;
        padding: 1%;
    }
    .hintStyle {
        color: rgb(163, 129, 255);
    }
    button {
        background-color: #687377;
        border-color: cornflowerblue;
        color: white;
        font-size: 20px;
        cursor: pointer;
    }
}
@media print {
    .input-container {
        border: 2px solid #000;
        color: black;
    }
    .rightDiv {
        display: flex;
        justify-content: center;
    }
    .clueDiv {
        display: inline-block;
    }
    .clueList {
        display: inline-block;
        margin: 12pt;
    }
    .crosswordContainer {
        flex-direction: column;
        align-items: top;
    }
    button {
        display: none;
    }
    .block {
        display: hidden;
        border: none;
    }
}
